@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL,GRAD@100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

@theme {
  --color-elm: #1d7a85;
  --color-elm-light: #2b9ca1;
  --color-elm-dark: #145e63;
  --color-codgray: #191919;
  --color-bombay: #aeaeaf;
  --color-light: #ffffff;
}

@layer utilities {
  .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      font-family: 'Material Symbols Outlined';
  }

  .ambient-shadow {
      box-shadow: 0px 12px 32px rgba(27, 28, 30, 0.06);
  }
}